{% extends 'layout.html' %}

{% block header %}
  {{ header({
    service: {
      text: 'Import reference data or code',
      href: "/"
    }
  }) }}
{% endblock %}

{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "import-results-external",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        Import request 1001
      </h1>
{% from "summary-list/macro.njk" import summaryList %}

{{ summaryList({
  rows: [
    {
      key: {
        text: "File name"
      },
      value: {
        text: "patient-1001.json"
      }
    },
    {
      key: {
        text: "Type"
      },
      value: {
        text: "Code"
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: '<span class="nhsuk-tag nhsuk-tag--blue">Pending</span>'
      } 
    },
    {
      key: {
        text: "Request date"
      },
      value: {
        text: "	2025-11-09 14:22 pm"
      }
    },
    {
      key: {
        text: "Requested by"
      },
      value: {
        html: "dave.king4@nhs.net"
      }
    },
    {
      key: {
        text: "Contextual information"
      },
      value: {
        html: "Example contextual information about the import request."
      }
    }
  ]
}) }}

{% from "button/macro.njk" import button %}

{{ button({
  text: "Cancel request",
  classes: "nhsuk-button--warning"
}) }}

    </div>
  </div>
{% endblock %}