{% extends 'layout.html' %}

{% block beforeContent %}
  {% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "#",
  text: "Back"
}) }}
{% endblock %}

{% block header %}
  {{ header({
    service: {
      text: 'Import reference data or code',
      href: "/"
    }
  }) }}
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Create a new request to import reference data</h1>
      
  <h2 class="nhsuk-heading-m">Before you start</h2>
   <ul>
    <li>make sure you have followed the guidance on <a href="bbc.co.uk">how to prepare your file (opens in a new window)</a></li>
    <li>to ensure that the data is approved, it must not contain any Personally Identifiable Information (PII)</li>
    <li>your file must be in CSV format and not exceed 2GB</li>
    <li>your file name cannot contain spaces or uppercase and special characters (except for underscore)</li>
    <li>CSV headers, columns and rows must meet formatting requirements</li>
    
    
  </ul>

   
<div class="nhsuk-form-group">
  <label class="nhsuk-label nhsuk-label--m">
    Choose a file to import
  </label>
  <ul>
   
   <li>you can upload one file at a time</li>
   <li>importing a file with the same name as an existing file in the environment will overwrite it</li>
   </ul>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-text-align-center">
    <div style="display: inline-block; vertical-align: middle; line-height: 2.5rem;">
      <span>examplefilename.csv</span>
    </div>
    <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-2 nhsuk-button--small" href="show-nothing/dsa-select-search-button-found" data-module="nhsuk-button">Remove file</button>
  </div>
</div>
</div>





      {{ button({
        text: "Continue",
        href: "import-additional-information"
      }) }}

      

    </div>
  </div>
{% endblock %}